.a-link a{
    color:black !important;
    border: none !important
}
.img-descrip{
    margin-top:20px;
}
.inner-link-4 i{
    font-size: 1.5em
}
.section-11{
    padding:200px 30px 200px 30px;
    background-color: rgba(4, 29, 19, 0.6);
    color:white;
}
.inner-link-6 a{
    color: rgba(255, 136, 100, 0.78) !important;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(54, 36, 5, 0.58);
    font-size: 3.5em;
}
.inner-link-6 i{
    position: relative;
  }
  @keyframes mymove {
    0%{left:0px;}
    10%{left:5px;}
    20%{left:10px;}
    30%{left:15px;}
    40%{left:20px;}
    50%{left:25px;}
    60%{left:20px;}
    70%{left:15px;}
    80%{left:10px;}
    90%{left:5px;}
    100%{left:0px;}
  }
.inner-link-6 a:hover i{
  animation: mymove 0.65s infinite;
}
.footer{
    padding:50px 30px 100px 30px
}
.second-col{
    padding:0px 5px 20px 10px
}
.link-inner a, .inner-link-4  a{
   color: rgba(255, 136, 100, 0.88);
    text-decoration: none;
   border-bottom: 1px solid rgba(255, 136, 100, 0.88);
   padding-bottom:3px;
}
.section-8{
    background-color: rgba(19, 31, 39, 0.78);
    color:white;
    padding:200px 30px 200px 30px
}
.quote{
    justify-content: center;
    margin:auto;
    font-size:0.8rem;
    width:85%;
    text-align:justify;
    padding:0px 20px 50px 20px
}
.img-wrapper-2{width:301.2px;height:401.59px;}
.section-4{background: #01251ec4;height: 651px;}
.section-6{
    background-color: rgba(23, 24, 31, 0.577);
    padding: 100px 50px 20px 50px;
}
.inner-link,.inner-link-1{
    transform: translateX(280%);
    margin-top: 40px;
}
.inner-link a, .inner-link-2 a,.inner-link-1 a{
    border:none;
    padding:25px 40px ;
    background-color: rgba(255, 136, 100, 0.78);
}
.inner-link-3{ 
     margin-top: 40px;
}
.inner-link-3 a{
    border:none;
    padding:25px 30px ;
    background-color: rgba(255, 136, 100, 0.78);
}
.inner-link-2{
    transform: translateX(280%);
    margin-top: 40px; 
}
.inner-link a{cursor: pointer}
.inner-link a, .inner-link-1 a, .inner-link-2 a{
    color:white;
}
.map-wrapper{padding-left:45px}
.section-2{margin-top:150px;padding:30px;}
.section-3{
    margin-top:50px;
    padding:100px 50px 10px 30px
}
.sect-2-cont{
    margin:auto;
    transform: translateY(60%);
}
.sect-3-cont{
    margin:auto;
    transform: translateY(65%);
}
.sect-2-cont p, .sect-3-cont p{font-size: 1.5em;width:90%;padding-top:20px}
.content-container{width:70%;margin:auto;padding-top:100px;text-align: justify}
.content-container h1{
    padding-left: 260px;
    margin-bottom:50px;
}
.content-container p{
    line-height: 50px;
    font-size: 1.5em;
}
html, body{
    margin:0;
    padding:0;
}
h1{font-size:4em;}
body{
    font-family: 'Quicksand', sans-serif;
    width:100%;
    font-weight:400;
    color:black;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
    color:black;
}
.content-descrip{
    position: absolute;
    top:400px;
    color:white;
    margin-left:40px;
    width:50%;
    z-index: 10;
}
.content-descrip h1{
     font-weight:700;
     font-size:4.3rem;
}
.navbar-links ul li{
    list-style: none;
    display:inline-block;
    text-align:center;
    padding-top:20px;
    padding-right:20px
}
.jumbotron{position: relative;}
.navbar-links ul{
   text-align:center;
}
.navbar-links{
   text-align:center;
}
.navbar-brand a, .navbar-links ul a{color:white}
.navbar{
    display: flex;
    justify-content: left;
    position: absolute;
    margin-left:40px;
    top: 20px;
    z-index: 10;
}
.navbar-brand{
    /* font-size: 30px; */
    font-weight: 700;
}
.navbar-links li:nth-child(7){
    padding-left:465px;
}
.navbar-links li:nth-child(7) a{
    border:none;
    padding:15px 40px;
    background-color: rgba(255, 136, 100, 0.78)
}
.active{
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}